<div class="mainContainer">
    <div class="content">
        <div class="header">
            <h1>Import Excel</h1>
        </div>
        <div class="row margin25">

            <div class="col-md-2">

            </div>
            <div class="col-md-6">
                    <div class="input-group">
                      <div class="input-group-prepend">
                            <span class="input-group-text upload" id="btnUpload" (click)="selectFile()">Select Excel file to be uploaded</span>
                      </div>
                      <div class="custom-file">
                          <form action="/api/upload" method="post" enctype="multipart/form-data">
                            <input (change)="fileChange($event)"  style="display: none" type="file" id="file" name="file">
                            <span>&nbsp;{{fileName}}</span> 
                          </form>
                      </div>
                      <div class="input-group-prepend">
                        <span class="input-group-text upload" (click)="upload()" id="btnUpload">Upload</span>
                      </div>
                    </div>
                  </div>
            <div class="col-md-4">
                
            </div>
        </div>

        <div class="row margin25">

            <div class="col-md-2">

            </div>
            <div class="col-md-6">
                <a>Click Here to download sample Excel file</a>
            <div class="col-md-4">
                
            </div>
        </div>

    </div>
</div>
