<div class="mainContainer">
    <div class="content">
        <div class="header">
            <h1>Create New Company</h1>
        </div>
        <div class="row margin25">

            <div class="col-md-2">

            </div>
            <div class="col-md-6">

                    <div class="row">
                        <div class="col-md-6">
                            <label>Company Name</label>
                        </div>
                        <div class="col-md-6">
                            <input [(ngModel)] = "companyName"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>CEO Name</label>
                        </div>
                        <div class="col-md-6">
                            <input [(ngModel)] = "ceo"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>TurnOver</label>
                        </div>
                        <div class="col-md-6">
                            <input [(ngModel)] = "turnover"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Brief Description</label>
                        </div>
                        <div class="col-md-6">
                            <input [(ngModel)] = "brief"/>
                        </div>
                    </div>

                    <button class="btn btn-success" (click)="save()">Save</button>
            </div>
            <div class="col-md-4">

            </div>

        </div>
    </div>
</div>