<div class="col-md-6">
    <h2 class="text-center">Register user</h2>
    <form>
      <div class="form-group">
        <label for="name">UserName:</label>
        <input type="text" [(ngModel)]="user.username" placeholder="username" name="username" class="form-control" id="username">
      </div>
    
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" [(ngModel)]="user.password" placeholder="password" name="password" class="form-control" id="password">
      </div>
    
      <button class="btn btn-success" (click)="registerUser()">Register</button>
    </form>
    </div>