<div class="mainContainer">
    <div class="content">
        <div class="header">
            <h1>Summary of Upload</h1>
        </div>
        <div class="row margin25">

            <div class="col-md-2">

            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <label>Company Name</label>
                    </div>
                    <div class="col-md-6">
                        <label>{{companyName}}</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>Stock Exchange</label>
                    </div>
                    <div class="col-md-6">
                        <label>{{stockExchange}}</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>No. of Records Imported</label>
                    </div>
                    <div class="col-md-6">
                        <label>{{nrOfRecords}}</label>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-3">
                        <label>From Date</label>
                    </div>
                    <div class="col-md-3">
                        <label>{{fromDate}}</label>
                    </div>

                    <div class="col-md-3">
                        <label>To Date</label>
                    </div>
                    <div class="col-md-3">
                        <label>{{toDate}}</label>
                    </div>
                </div>

                <button class="btn btn-success" (click)="ok()">OK</button>
            </div>
            <div class="col-md-4">

            </div>

        </div>
    </div>
</div>